<app-entry *ngIf="!isLogin" (submitUsername)="login($event)"></app-entry>
<main class="chat">
  <app-chat-rooms class="chat-rooms" [rooms]="rooms"></app-chat-rooms>
  <app-chat-window class="chat-window" [currentRoom]="currentRoom" [messages]="messages" [user]="userKey"></app-chat-window>
  <app-chat-users class="chat-users" [users]="users" [currentRoom]="currentRoom"></app-chat-users>
</main>
