.chat {
  flex-grow: 1;
  display: flex;
  height: calc(100vh - 2rem);
}

.chat-rooms {
  display: none;
}

.chat-window {
  flex: {
    grow: 1;
    direction: column;
  }
  display: flex;
}

.chat-users {
  display: none;
}

@media screen and (orientation: landscape) and (min-width: 30rem) {
  .header {
    border-bottom: 2px solid gray;
  }

  .burgerMenu {
    display: none;
  }

  .chat {
    height: calc(100vh - 3.2rem);
  }

  .chat-rooms {
    display: block;
    overflow-y: auto;
    width: 30vw;
    flex-shrink: 0;
    background: #777;
    border-right: 1px solid #666;
  }
}

@media screen and (min-width: 60rem) {
  .chat-rooms {
    max-width: 14rem;
    flex-shrink: 0;
  }

  .chat-users {
    display: block;
    overflow-y: auto;
    width: 16rem;
    flex-shrink: .1;
    background: #777777;
    border-left: 1px solid #888888;
  }
}
