.chat-users {
  display: none;
}

.chat-users__user {
  font-family: "Maven Pro", sans-serif;
}

.chat-users {

}

.chat-users__users {
  list-style: none;
  padding: 0 1rem;
  font-size: 1.2rem;
  line-height: 1.5rem;
}

.chat-users__user {
  font-family: "Maven Pro", sans-serif;
}

@media screen and (min-width: 60rem){
  .chat-users {
    display: block;
    overflow-y: auto;
    width: 16rem;
    flex-shrink: .1;
    background: #777777;
    border-left: 1px solid #888888;
    min-height: 2rem;
    max-height: calc(100% - 3.2rem);
    top: 3.2rem;
  }

  .header {
    border-bottom: 2px solid gray;
    background: black;
    font-family: "Righteous", sans-serif;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
  }

  .header_sub-header {
    font-size: 1.2rem;
    padding-left: 1rem;
    box-shadow: none;
  }
}
