<div *ngIf="message.type === 'message'" class="chat-window__message--wrapper">
  <p class="chat-window__message--username">{{ message.username }}
    <span class="chat-window__message--type">{{ message.type }}</span>
  </p>
  <div class="chat-window__message--text">
    <span class="chat-window__message--message-text">{{ message.text }}</span>
    <span class="chat-window__message--message-time">{{ message.time }}</span>
  </div>
</div>
<app-system-message
  class="chat-window__system-message"
  [dataForSysMessage]="{username: message.username, type: message.type}"
  *ngIf="message.type !== 'message'">
</app-system-message>

<!--
  todo: сюда еще думаю системные засунуть
 -->
