$additionalText: .6rem;

.chat-window__message--wrapper {
  font-family: "Roboto Condensed", sans-serif;
  display: flex;
  flex-direction: column;
}

.chat-window__message--username {
  font-size: $additionalText;
  align-self: flex-start;
  margin: 0;
}

.chat-window__message--type {
  display: none;
}

.chat-window__message--text {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.chat-window__message--message-text {
  align-self: flex-start;
  margin: 0;
}

.chat-window__message--message-time {
  font-size: $additionalText;
  align-self: flex-end;
  margin-left: auto;
}

.chat-window__system-message {
  align-self: center;
  color: #444;
  font: {
    size: .9rem;
    family: "Insolate", monospace;
    weight: bold;
  }
}

.chat-window__message.own,
.chat-window__message {

}

.chat-window__message.own {
  align-self: flex-end;
  background-color: #aaa;
}

.chat-window__message {
  align-self: flex-start;
  background-color: #ccc;
}
