<header class="header header__s-size">
  <div>
    <div class="burgerMenu" appDropdown (click)="toggleRoomsMenu()">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <span class="header__logo">myChat</span>
  </div>
  <div class="header__users-mobile" (click)="toggleUserMenu()">
    <span class="header__users-mobile--text">users</span>
    <div class="fallenMenu" appDropdown>
      <span></span>
      <span></span>
    </div>
  </div>
</header>
<div class="chat--rooms--mobile" *ngIf="isRoomsMenu">
  <div class="header header__s-size">
    <span class="chat-rooms-mobile__title">Rooms</span>
  </div>
  <div class="chat-rooms__rooms">
    <ul class="chat-rooms__rooms">
      <!--todo: create normal menu for rooms with *ngFor directive-->
      <li class="chat-rooms__room">Anonimither rooms</li>
      <li class="chat-rooms__room selected">Some's rooms</li>
    </ul>
  </div>
</div>
<div class="chat-users-mob" *ngIf="isUsersMenu">
  <ul class="chat-users__users">
    <!--todo: create normal menu for users with *ngFor directive-->
    <li class="chat-users__user">Drogan</li>
  </ul>
</div>
<div class="overlay" *ngIf="isOverlay"></div>
