.overlay {
  display: block;
  position: fixed;
  z-index: 800;
  margin-top: 2rem;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .9);
}

.header {
  background: black;
  font-family: "Righteous", sans-serif;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__s-size {
  width: 100vw;
  height: 2rem;
  font-size: 1.2rem;
}

.header__menu-toggle {
  color: white;
  display: inline-block;
  z-index: 1;
  text-decoration: none;
  padding-left: 1rem;
  cursor: pointer;
}

.header__logo {
  padding-left: 1rem;
  text-shadow: 1px 1px 2px lightgray;
}

.header__users-mobile {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.header__users-mobile--text {
  margin-right: 1rem;
}

.burgerMenu{
  margin-left: 1rem;
  width: 24px;
  height: 20px;
  /*margin: 10px 10px;*/
  position: relative;
  cursor: pointer;
  display: inline-block;
}
.burgerMenu span{
  background-color:#FFF;
  position: absolute;
  border-radius: 2px;
  transition: .3s cubic-bezier(.8, .5, .2, 1.4);
}
.burgerMenu span:nth-child(1){
  width: 100%;
  height:  3px;
  display: block;
  top: 0px;
  left: 0px;
}
.burgerMenu span:nth-child(2){
  width: 100%;
  height:  3px;
  display: block;
  top: 9px;
  left: 0px;
}
.burgerMenu span:nth-child(3){
  width: 100%;
  height:  3px;
  display: block;
  bottom: 0px;
  left: 0px;
}
.burgerMenu:not(.burgerMenu):hover span:nth-child(1){
  width: 100%;
  height:  4px;
  display: block;
  top: -1px;
  left: 0px;
  transition: .3s cubic-bezier(.8, .5, .2, 1.4);
}
.burgerMenu:not(.burgerMenu):hover span:nth-child(2){
  width: 100%;
  height:  4px;
  display: block;
  top: 9px;
  left: 0px;
  transition: .4s cubic-bezier(.8, .5, .2, 1.4);
}
.burgerMenu:not(.burgerMenu):hover span:nth-child(3){
  width: 100%;
  height:  4px;
  display: block;
  bottom: -1px;
  left: 0px;
  transition: .3s cubic-bezier(.8, .5, .2, 1.4);
}
.burgerMenu.open {
  transform: rotate(90deg);
}
.burgerMenu.open span:nth-child(1){
  /*left:3px;*/
  /*top: 8px;*/
  width: 24px;
  transition: .3s cubic-bezier(.8, .5, .2, 1.4);
  transform: rotate(90deg);
  transition-delay: 150ms;
}
.burgerMenu.open span:nth-child(2){
  left:-1px;
  /*top: 12px;*/
  width: 16px;
  transition: .3s cubic-bezier(.8, .5, .2, 1.4);
  transform: rotate(45deg);
  transition-delay: 50ms;
}
.burgerMenu.open span:nth-child(3){
  left:10px;
  top: 9px;
  width: 16px;
  transition: .3s cubic-bezier(.8, .5, .2, 1.4);
  transform: rotate(-45deg);
  transition-delay: 100ms;
}

.fallenMenu {
  width: 1rem;
  margin-right: 1rem;
  position: relative;
  cursor: pointer;
  display: inline-block;
}

.fallenMenu span {
  background-color: white;
  position: absolute;
  border-radius: 2px;
  transition: .3s cubic-bezier(.8, .5, .2, 1.4);
}

.fallenMenu span:nth-child(1) {
  width: 100%;
  height:  3px;
  display: block;
  top: 10px;
  left: 0px;
  transform: translateX(30%) rotate(-45deg);
}

.fallenMenu span:nth-child(2) {
  width: 100%;
  height:  3px;
  display: block;
  top: 10px;
  left: 0px;
  transform: translateX(-30%) rotate(45deg);
}

.fallenMenu:hover span:nth-child(1) {
  top: 12px;
  transition: .3s cubic-bezier(.8, .5, .2, 1.4);
}

.fallenMenu:hover span:nth-child(2) {
  top: 12px;
  transition: .3s cubic-bezier(.8, .5, .2, 1.4);
}

.fallenMenu.open {
  transform: rotate(180deg);
}

.fallenMenu.open span:nth-child(1) {
  width: 100%;
  height:  3px;
  display: block;
  top: 10px;
  left: 0px;
  transform: translateX(30%) rotate(-405deg);
  transition: .2s cubic-bezier(.8, .5, .2, 1.4);
}

.fallenMenu.open span:nth-child(2) {
  width: 100%;
  height:  3px;
  display: block;
  top: 10px;
  left: 0px;
  transform: translateX(-30%) rotate(405deg);
  transition: .2s cubic-bezier(.8, .5, .2, 1.4);
}

.chat--rooms--mobile {
  display: block;
  position: fixed;
  overflow: auto;
  z-index: 900;
  left: 0;
  background-color: gray;
  width: 80vw;
  max-width: 400px;
  height: calc(100vh - 2rem);
}

.chat-rooms__rooms {
  list-style: none;
  padding: 0 1rem;
  margin-top: .5rem;
  font-size: 1.2rem;
  line-height: 1.5rem;
}

.chat-rooms__room {
  font-family: Maven Pro, sans-serif;
}

.chat-rooms__room.selected {
  font-family: Maven Pro, sans-serif;
  font-weight: 500;
}

.chat--rooms--mobile__header {
  background-color: black;
  height: 2rem;
  color: white;
  text-align: center;
}

.chat--rooms--mobile__header {
  background-color: black;
  height: 2rem;
  color: white;
  text-align: center;
}

.chat-rooms-mobile__title {
  position: absolute;
  top: 1rem;
  left: 40vw;
  transform: translate(-50%, -50%);
}

.chat-users-mob {
  overflow: auto;
  display: block;
  position: fixed;
  max-height: calc(100% - 3.2rem);
  z-index: 900;
  top: 2rem;
  width: 100vw;
  min-height: 2rem;
  background-color: gray;
}

.chat-users__users {
  list-style: none;
  padding: 0 1rem;
  font-size: 1.2rem;
  line-height: 1.5rem;
}

.chat-users__user {
  font-family: Maven Pro, sans-serif;
}

@media (orientation: landscape) and (min-width: 30rem) {
  .header {
    border-bottom: 2px solid gray;
  }

  .header__s-size {
    height: 3.2rem;
  }

  .header__menu-toggle {
    display: none;
  }

  /*.chat--rooms--mobile_active {
    display: none;
  }*/

  /*.chat--rooms--mobile__overlay {
    display: none;
  }*/

  .burgerMenu {
    display: none;
  }

  /* for chat-rooms
  .chat-rooms {
    display: block;
    overflow-y: auto;
    width: 30vw;
    flex-shrink: 0;
    background: #777;
    border-right: 1px solid #666;
  }*/

  .chat-rooms__rooms {
    list-style: none;
    padding: 0 1rem;
    margin-top: .5rem;
    font-size: 1.2rem;
    line-height: 1.5rem;
  }

  .chat-rooms__room {
    font-family: Maven Pro, sans-serif;
  }

  .chat-rooms__room.selected {
    font-family: Maven Pro, sans-serif;
    font-weight: 500;
  }

  .header_sub-header {
    font-size: 1.2rem;
    padding-left: 1rem;
    box-shadow: none;
  }

  .chat-users-mob {
    top: 2.9rem;
  }
}

@media (min-width: 60rem) {
  .header {
    height: 3rem;
    font-size: 1.5rem;
  }

  .header__menu-toggle {
    display: none;
  }

  .header__users-mobile--text {
    display: none;
  }

  .chat-rooms {
    max-width: 14rem;
    flex-shrink: 0;
  }

  .chat-users {
    display: block;
    overflow-y: auto;
    width: 16rem;
    flex-shrink: .1;
    background: #777777;
    border-left: 1px solid #888888;
  }

  .fallenMenu {
    display: none;
  }
}
