<div class="chat-window__message-field" #messageWindow>
  <div class="chat-window__system-message">Alex left chat</div>
  <div class="chat-window__system-message">Alex joined chat</div>
  <app-message
    *ngFor="let message of messages"
    [message]="message"
    [ngClass]="{'own': user === message.userkey,
     'chat-window__message': message.type === 'message',
      'chat-window__system-message': message.type !== 'message'}">
  </app-message>
  <!-- stub for fast test layouts
  <app-message [message]="{
    username: 'Alex',
    room: '8d2c4586-f46e-49af-b8e5-fda899621033',
    text: 'sadfsadf',
    time: '16:28:18',
    type: 'message'
  }" class="chat-window__message"></app-message>
  <app-message [message]="{
    username: 'Alex',
    room: '8d2c4586-f46e-49af-b8e5-fda899621033',
    time: '16:29:18',
    type: 'joined to room'
  }" class="chat-window__system-message"></app-message>
</div>-->
  <div class="chat__input chat__input--mobile">
    <form (ngSubmit)="sendMessage()" class="chat__input--form-input">
      <input class="chat__input--input"
             type="text"
             (submit)="sendMessage()"
             maxLength=300
             [(ngModel)]="messageField"
             [ngModelOptions]="{standalone: true}">
      <a class="chat__input--button">
        <img src="1486564396-mail_81524.svg" alt="send" (click)="sendMessage()">
      </a>
    </form>
  </div>
</div>
