.chat-window__message-field {
  overflow: auto;
  padding-bottom: 1rem;
  display: flex;
  flex: {
    grow: 1;
    direction: column;
  }
  justify-content: flex-end;
}

.chat-window__system-message {
  align-self: center;
  color: #444;
  font: {
    size: .9rem;
    family: "Insolate", monospace;
    weight: bold;
  }
}

.chat-window__message.own,
.chat-window__message {
  border-radius: .5rem;
  padding: .1rem .7rem;
  margin: .5rem 1rem;
  min-width: 30%;
  max-width: 80%;
  font-family: "Roboto Condensed", sans-serif;
}

.chat-window__message.own {
  align-self: flex-end;
  background-color: #aaa;
}

.chat-window__message {
  align-self: flex-start;
  background-color: #ccc;
}

.chat__input {
  display: flex;
  position: relative;
  align-items: center;
}

.chat__input--mobile {
  height: 2rem;
}

.chat__input--form-input {
  flex-grow: 1;
  margin: 0 .4rem;
  color: #444;
}

.chat__input--input {
  background: none;
  height: 2rem;
  position: relative;
  width: 100%;
  padding-left: .5rem;
  border: {
    color: #fff;
    radius: .5rem;
  }
  font-size: 1.2rem;
}

.chat__input--input:active,
.chat__input--input:focus {
  outline: none;
}

.chat__input--button {
  position: absolute;
  right: 0;
  bottom: 0;
  border-radius: 1.5rem;
  text-align: center;
  margin: 0 .6rem .2rem .4rem;
  width: 1.6rem;
  height: 1.6rem;
  color: white;
}
