app-chat-video-broadcasting {

}

.video-broadcasting__wrapper {
  border: 1px solid darkgray;
  min-width: 100vw;
  min-height: 20vh;
  color: white;
  background-color: gray;
  text-align: center;
  position: relative;

  .stub {
    //margin: 0 auto;
    font-size: 200%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media (min-width: 40rem) {
  .video-broadcasting__wrapper {
    width: 75vw;
    min-height: 60vh;
  }
}
