.chat-rooms {
  display: none;
}

.chat-rooms-mobile {
  z-index: 900;
}

.chat-rooms-mobile__rooms {
  list-style: none;
  padding: 0 1rem;
  margin-top: .5rem;
  font-size: 1.2rem;
  line-height: 1.5rem;
}

.chat-rooms__room {
  font-family: "Maven Pro", sans-serif;
}

.chat-rooms__room.selected {
  color: #222222;
  text-shadow: 1px 1px 2px #555;
  font: {
    family: "Maven Pro", sans-serif;
    weight: 500;
  }
}

.chat--rooms--mobile {
  display: none;
}

.chat--rooms--mobile_active {
  display: block;
  position: fixed;
  overflow: auto;
  margin-top: 2rem;
  z-index: 900;
  left: 0;
  background-color: gray;
  width: 80vw;
  max-width: 400px;
  height: calc(100vh - 2rem);
}

.chat-rooms__rooms {
  list-style: none;
  padding: 0 1rem;
  margin-top: .5rem;
  font-size: 1.2rem;
  line-height: 1.5rem;
}

.chat--rooms--mobile__header {
  background-color: black;
  height: 2rem;
  color: white;
  text-align: center;
}

.chat--rooms--mobile__header {
  background-color: black;
  height: 2rem;
  color: white;
  text-align: center;
}

.chat-rooms-mobile__title {
  position: absolute;
  top: 1rem;
  left: 40vw;
  transform: translate(-50%, -50%);
}

.header {
  background: black;
  font-family: "Righteous", sans-serif;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media screen and (orientation: landscape) and (min-width: 30rem) {
  .header {
    border-bottom: 2px solid gray;
  }

  .header_sub-header {
    font-size: 1.2rem;
    padding-left: 1rem;
    box-shadow: none;
  }

  .chat-rooms {
    display: block;
    overflow-y: auto;
    width: 30vw;
    flex-shrink: 0;
    background: #777;
    border-right: 1px solid #666;
  }
}

@media screen and (min-width: 60rem) {
  .chat-rooms {
    max-width: 14rem;
    flex-shrink: 0;
  }

  .header {
    height: 3rem;
    font-size: 1.2rem;
  }
}
