<div class="header header_sub-header">Chat-rooms</div>
<ul class="chat-rooms__rooms">
  <li class="chat-rooms__room" *ngFor="let room of rooms" routerLink="/{{ room.roomId }}"
      [routerLinkActive]="'selected'">{{ room.roomName }}</li>
  <li class="chat-rooms__room">Some's rooms</li>
</ul>
