<div class='overlay'>
  <div class='login page'>
    <form class="form" (ngSubmit)="login()">
      <label class='title'>Введите имя:
        <input name='username' class='usernameInput' [(ngModel)]="userName"/>
      </label>
    </form>
  </div>
</div>
