.overlay {
  z-index: 999;
  background-color: black;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

.overlay--hidden {
  display: none;
}

.login.page {
  background-color: #000;

  .form {
    height: 100px;
    margin-top: -100px;
    position: absolute;

    text-align: center;
    top: 50%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;


    .usernameInput {
      background-color: transparent;
      border: none;
      border-bottom: 2px solid #fff;
      outline: none;
      padding-bottom: 15px;
      text-align: center;
      width: 400px;
      font-size: 200%;
      letter-spacing: 3px;
      color: #fff;
      font-weight: 100;
    }

    .title {
      font-size: 200%;
      color: #fff;
      font-weight: 100;
    }
  }
}
